html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}
#content {
    padding-bottom:100px;
}

/*header*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    min-height: 50px;
    width: 100%;
    background: #FFF;
    font-weight: bold;

}
header li:hover a{
    color: #e5d206;
}
header button {
    font-weight: bold;
    color: #000;
}
.post_btn, .register_btn, .add_btn {
    background:#e6b706;
}
.post_btn:hover, .register_btn:hover, .add_btn:hover {
    background:#e5d206;
    color: #000;

}
/*search*/
#search-block {
    margin: 0;
    height: 500px;
    background-image: url('img/home-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#search_area {
    padding-top: 120px;
}
#advanced_search{
    background:rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    padding: 1.0714285714285714em 1.0714285714285714em;
    height: 95px;
    width: 100%;
}
#advanced_search input, #advanced_search select {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#search_btn {
    width: 100%;
    height: 50px;
    color:#fff;
    background: #f34f3e;
}
#search_btn:hover {
    background:#e5d206;
}
/*listing*/
#type:hover {
    background: #dedede;
}
.job_type {
    width: 100px;
    height: 35px;
    padding-top:9px;
    color:#fff;
}
/*Footer*/
footer {
    width:100%;
    height: 100px;
    position:absolute;
    bottom:0;
    left:0;         /*How To Keep Your Footer At The Bottom Of The Page*/
    padding: 40px 0;
    background: #3f4547;
    color: #767676;
}





/*Jobs.html*/
.category_list li {
    float: left;
    padding: 0 10px;
}
/*Register.html*/
.form_block input, .form_block select,.form_block textarea {
    height: 45px;
    margin: 10px;
    font-size: 14px;
    padding-left: 10px;
    line-height: 1.4;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.register_btn, .add_btn {
    margin: 10px;
    font-weight: bold;
}
/*Job Details*/
#job_title {
    height: 250px;
    background: rgba(67, 67, 67, 0.55);
    color: #fff;
}
#job_title .col_8 {
    padding-top: 20px;
}

/*---------------------------------
	NOTICES
-----------------------------------*/
.notice{
    background:lightyellow;
    padding:10px 20px 10px 40px;
    margin:10px 0;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:white;
    line-height:120%;
    vertical-align: center;
    text-shadow:0px 1px rgba(255,255,255,0.5);
    position:relative;
    top:0;
    left:0;
    clear:both;
}

.notice.warning{background: rgba(252, 218, 151, 0.6); }/*default*/
.notice.error{background:rgba(229, 94, 45, 0.6);}
.notice.success{background:rgba(57, 213, 88, 0.6);}
.notice i[class*='fa-']{position:absolute;top:50%;left:0.8em;margin-top:-0.6em;}
.notice a[class*='fa-remove'],
.notice a[class*='fa-remove']:active,
.notice a[class*='fa-remove']:visited{text-decoration:none;font-size:12px;position:absolute;top:5px;right:5px;left:auto;color:inherit;margin-top:0;left:auto;}
